---
/**
 * * These are small cards with titles, and text, and a check icon
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import Badge from "@components/Badge/Badge.astro";
import FeatureCard from "@components/FeatureCard/FeatureCardSmall2.astro";
import { Icon } from "astro-icon/components";

interface FeatureData {
	icon: string;
	title: string;
	text: string;
}

const featureData: FeatureData[] = [
	{
		icon: "tabler/shield-check",
		title: "Official Microsoft 365 Partner",
		text: `As an authorized Microsoft 365 partner. Avoid common pitfalls of settings and configurations.`,
	},
	{
		icon: "tabler/diamonds",
		title: "Low Minimum Order Quantity",
		text: `Start with just minimum 3 licenses, making enterprise-grade tools affordable for small businesses.`,
	},
	{
		icon: "tabler/wand",
		title: "Expert Setup & Guidance",
		text: `We handle everything from initial setup to seamless migration from your existing systems, ensuring zero downtime for your team.`,
	},
	{
		icon: "tabler/chart-histogram",
		title: "Perfect for Small Businesses",
		text: `Avoid subscribing to multiple other softwares, Microsoft 365 for businesses is very different from a normal Microsoft products you have used.`,
	},
	{
		icon: "tabler/message-chatbot",
		title: "Dedicated Support Included",
		text: `Enjoy ongoing support, training, and assistance from our Microsoft-certified team to maximize your Microsoft 365 investment.`,
	},
	{
		icon: "tabler/lock-square",
		title: "Enterprise Security Built-In",
		text: `Your data is protected with Microsoft's enterprise-grade security, automatic backups, and 99.9% uptime guarantee.`,
	},
];
---

<section id="feature-cards-small-2" class="overflow-hidden py-16 md:py-20">
	<div class="site-container relative">
		<div class="mr-auto mb-16 md:max-w-4xl">
			<h2 class="h2 inline" id="trigger-cards-small-2" data-aos="fade-right">Discounts Available</h2>
			<p class="description text-pretty text-lg md:text-m">
				Seamless digitalisation journey—organize and store all your business files in one secure place with a smart, structured system built for lasting growth. Finally, your information architecture is taken care of, no more finding files in random folders.
			</p>
		</div>
		<div
			class="grid gap-16 sm:grid-cols-2 lg:grid-cols-3"
			data-aos="fade-right"
			data-aos-delay=".3"
			data-aos-trigger="#trigger-cards-small-2"
		>
			{featureData.map((feature, idx) => <FeatureCard title={feature.title} text={feature.text} icon={feature.icon} />)}
		</div>
	</div>
</section>