---
import { Icon } from "astro-icon/components";

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSmall2.astro";
import Badge from "@components/Badge/Badge.astro";

interface FeatureData {
	icon: string;
	title: string;
	text: string;
}

// data (wwhy should people choose us)
const featureData: FeatureData[] = [
	{
		icon: "tabler/calendar-check",
		title: "Strategy & Planning",
		text: `Keep in the loop of your project's progress, invoices, documents, proposals all in one place.`,
	},
	{
		icon: "tabler/shield-check",
		title: "Boost Credibility",
		text: `All necessary configurations from server to front-end are optimized for speed.`,
	},
	{
		icon: "tabler/chart-histogram",
		title: "Analytics",
		text: `User traffic & website performance data to pin point key areas for improvements.`,
	},
	{
		icon: "tabler/chart-arrows-vertical",
		title: "New Income Streams",
		text: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit totam delectus
            rerum.`,
	},
	{
		icon: "tabler/bulb",
		title: "Learn as You Go",
		text: `0 gatekeeping, have a full knowledge to your project's structures, softwares, plug-ins used & more.`,
	},
	{
		icon: "tabler/api-app",
		title: "Business Intelligence",
		text: `Adapt to the market changes, make data-driven decisions with Ai's RAG methodology.`,
	},
];
---

<section id="feature-cards-small-2" class="overflow-hidden py-16 md:py-20">
	<div class="site-container relative">
		<div class="mb-16 mr-auto md:max-w-4xl">
			<h2 class="h2 inline" id="trigger-cards-small-2" data-aos="fade-right">Feature Snapshot</h2>
		</div>
		<div
			class="grid gap-16 sm:grid-cols-2 lg:grid-cols-3"
			data-aos="fade-right"
			data-aos-delay=".3"
			data-aos-trigger="#trigger-cards-small-2"
		>
			{featureData.map((feature, idx) => <FeatureCard title={feature.title} text={feature.text} icon={feature.icon} />)}
		</div>
	</div>
</section>
