---
/**
 * * pricing section for one price only
 * For those who like to keep it simple
 */

import Badge from "@components/Badge/Badge.astro";
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Icon } from "astro-icon/components";


const currLocale = getLocaleFromUrl(Astro.url);
interface pricingItem {
	name: string; // plan name
	description: string; // plan description
	price: {
		monthly: number; // monthly price
	};
	cardBullets: string[]; // list of card bullets
}

const pricingData: pricingItem = {
	name: "Get Started for only S$2000",
	description: "Everything for you to get started at a low monthly price, billed annually.",
	price: {
		monthly: 40,
	},
	cardBullets: [
		"Includes domain name",
		"Includes 5 professional e-mails",
		"Access to client portal",
		"No hourly charges for changes/edits",
		"Google analytics integration & many more",
	],
};
---

<section id="pricing" class="overflow-clip py-16 lg:py-20">
	<div class="site-container">
		<div class="grid gap-10 md:grid-cols-2 lg:gap-20">
			<div class="mx-auto flex h-full max-w-lg flex-col md:mr-auto">
				<Badge>Pricing for everyone</Badge>
				<h2 class="h2">Elevate your brand with a beautiful website.</h2>
				<p class="description mt-4 text-lg tracking-tight">
					Simple pricing that fits for everyone. One-time design & development, then yearly
					maintenance. Schedule a free consultation to explore more packages suitable for your
					needs.
				</p>
			</div>
			<div
				class="border-primary-300 bg-base-100 dark:bg-base-950 relative mx-auto w-full max-w-lg rounded-xl border p-8 before:absolute before:inset-0.5 before:-z-10 before:rounded-md before:bg-blue-500 before:blur md:ml-auto md:max-w-md lg:p-12"
			>
				<h3 class="text-primary-600 dark:text-primary-400 mb-6 text-lg font-medium tracking-tight">
					{pricingData.name}
				</h3>
				<p class="mt-6 text-4xl font-medium tracking-tight">
					From S${pricingData.price.monthly} / mo
				</p>
				<p class="description mx-auto mt-2 tracking-tight">
					{pricingData.description}
				</p>
				<div class="relative z-10">
					<Button variant="primary" class="mt-8" href=https://outlook.office365.com/book/meeting@berlime.com/s/Tyovt-rHPU6N6IQ7EPVEFg2>
						Schedule Free Consultation Now
					</Button>
				</div>
				<p class="mt-8">What you'll get</p>
				<ul class="mt-2">
					{
						pricingData.cardBullets.map((bullet) => (
							<li class="flex items-center py-1.5">
								<div class="mr-2 inline-block">
									<Icon name="tabler/point" class="size-4" aria-hidden="true" />
								</div>
								<span class="description font-medium tracking-tight">{bullet}</span>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</section>